# Ignore node_modules directory
node_modules

# Ignore logs
*.log

# Ignore environment variables files
.env

# Ignore build artifacts
build
dist

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore Dockerfile
Dockerfile

# Ignore docker-compose files
docker-compose*.yml

# Ignore any file or directory starting with . (hidden files/folders)
.*

# Ignore specific files
README.md
LICENSE
